<div class="dashboard-container"> 
    <div class="sidebar" [ngClass]="{'sidebar-collapsed': isCollapsed}">
        <button class="toggle-button" (click)="toggleSidebar()"> 
            <i class="fas fa-bars"></i>
        </button>
       <nav> 
        <a (click)="navigateToHome()">
            <i class="fas fa-home"></i>
            <span class="link-text" *ngIf="!isCollapsed">Home</span>
        </a>
        <a (click)="navigateToAmbient()">
            <i class="fas fa-sun"></i>
            <span class="link-text" *ngIf="!isCollapsed">Luz Ambiental</span>
        </a>
        <a (click)="navigateToHeartRate()">
            <i class="fas fa-heart"></i>
            <span class="link-text" *ngIf="!isCollapsed">Ritmo Cardíaco</span>
        </a>
        <a (click)="navigateToTemperature()">
            <i class="fas fa-thermometer-half"></i>
            <span class="link-text" *ngIf="!isCollapsed">Temperatura Corporal</span>
        </a>
        <a (click)="navigateToGyroscope()">
            <i class="fas fa-compass"></i>
            <span class="link-text" *ngIf="!isCollapsed">Giroscopio</span>
        </a>
        <a (click)="navigateToSettings()">
            <i class="fas fa-cog"></i>
            <span class="link-text" *ngIf="!isCollapsed">Configuración</span>
        </a>
        </nav>
        
    </div>
    <div>
        <button class="logout-button" (click)="logout()">
            <span>Cerrar Sesión</span>
        </button>
    </div>
</div>
