.dashboard-container {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}
.sidebar {
    width: 230px;
    background: linear-gradient(45deg, #ffa600, #e89500); /* Degradado */
    color: white;
    padding: 20px;
    height: 100vh;
    transition: width 0.3s;
    overflow: hidden; /* Para manejar contenido fuera de los límites al colapsar */
}
.sidebar-collapsed {
    width: 50px;
}
.toggle-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 15px;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    margin: 5px 0;
}
.toggle-button:hover {
    background-color: #f4f4f4;
    color: #ffa600;
}
nav a {
    text-indent: 5px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap; /* Evitar que los textos se rompan */
    overflow: hidden; /* Esconde cualquier contenido que exceda el ancho */
}
nav a ion-icon {
    font-size: 1.3em;
    flex-shrink: 0; /* El icono nunca se colapsa */
}
nav a .link-text {
    margin-left: 10px;
    opacity: 1; /* Visibilidad total por defecto */
    transition: opacity 0.3s, margin 0.3s;
}
nav a:hover {
    background-color: #f4f4f4;
    color: #ffa600;
}
.content {
    flex: 1;
    padding: 20px;
}
.dashboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.card {
    background: white;
    padding: 20px;
    text-align: center;
    width: 555px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s, color 0.3s;
}
.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.chart-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.card .card-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: color 0.3s;
}
.card .temperature,
.card .humidity {
    font-size: 1.5em;
    color: #ffa600; /* Naranja */
    transition: color 0.3s;
}
.card .description {
    font-size: 0.9em;
    color: #888;
    transition: color 0.3s;
}
.card ion-icon {
    font-size: 2em;
    color: #ffa600; /* Naranja */
    transition: color 0.3s;
}
.card:hover {
    background: linear-gradient(45deg, #ffa600, #e89500); /* Degradado en hover */
    color: white;
}
.card:hover .card-text .temperature,
.card:hover .card-text .humidity,
.card:hover .card-text .description,
.card:hover ion-icon {
    color: white;
}
.table-container {
    color: #ffa600;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.table-container h3 {
    font-size: 22px;
}
table {
    font-size: 15px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
th {
    color: black;
    border-color: transparent;
    text-align: left;
}
@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 90%;
        margin-bottom: 10px;
    }
}
