<div class="dashboard-container">
    <div class="sidebar" [ngClass]="{'sidebar-collapsed': isCollapsed}">
        <button class="toggle-button" (click)="toggleSidebar()"> 
            <ion-icon name="menu-outline"></ion-icon>
        </button>
        <nav>
            <a (click)="navigateToHome()">
                <ion-icon name="home-outline"></ion-icon>
                <span class="link-text" *ngIf="!isCollapsed">Home</span>
            </a>
            <a (click)="navigateToSensors()">
                <ion-icon name="thermometer-outline"></ion-icon>
                <span class="link-text" *ngIf="!isCollapsed">Temperatura y Humedad</span>
            </a>
            <a (click)="navigateToSettings()">
                <ion-icon name="settings-outline"></ion-icon>
                <span class="link-text" *ngIf="!isCollapsed">Configuración</span>
            </a>
        </nav>
    </div>
    <div class="content">
        <div class="dashboard">
            <div class="card temperature-card">
                <div class="card-content">
                    <div class="card-text">
                        <div class="temperature">{{ temperatura }} °C</div>
                        <div class="description">Temp</div>
                    </div>
                    <ion-icon name="thermometer-outline"></ion-icon>
                </div>
            </div>
            <div class="card humidity-card">
                <div class="card-content">
                    <div class="card-text">
                        <div class="humidity">{{ humedad }} %</div>
                        <div class="description">Humedad</div>
                    </div>
                    <ion-icon name="water-outline"></ion-icon>
                </div>
            </div>
        </div>
        <div class="table-container">
            <h3>Últimos 10 valores recibidos</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Temperatura (°C)</th>
                        <th>Humedad (%)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of any">
                        <td>{{ data.id }}</td>
                        <td>{{ data.temperatura }}</td>
                        <td>{{ data.humedad }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
