<div class="dashboard-container">
    <div class="sidebar" [ngClass]="{'sidebar-collapsed': isCollapsed}">
        <button class="toggle-button" (click)="toggleSidebar()"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-user">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
                <path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z" />
            </svg>
        </button>
        <nav>
            <a (click)="navigateToHome()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M12 3l9 9h-3v9h-12v-9h-3z"/>
                </svg>
                <span class="link-text" *ngIf="!isCollapsed">Home</span>
            </a>
            <a (click)="navigateToAmbient()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M12 2a10 10 0 1 1 -10 10 10 10 0 0 1 10 -10z"/>
                </svg>
                <span class="link-text" *ngIf="!isCollapsed">Luz Ambiental</span>
            </a>
            <a (click)="navigateToHeartRate()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c2.54 0 4.68 1.28 6 3.09C15.82 4.28 17.96 3 20.5 3 23.58 3 26 5.42 26 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                </svg>
                <span class="link-text" *ngIf="!isCollapsed">Ritmo Cardíaco</span>
            </a>
            <a (click)="navigateToTemperature()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M12 1a2 2 0 0 1 2 2v10a2 2 0 0 1-4 0V3a2 2 0 0 1 2-2z"/>
                </svg>
                <span class="link-text" *ngIf="!isCollapsed">Temperatura Corporal</span>
            </a>
            <a (click)="navigateToGyroscope()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M12 2a10 10 0 1 1 -10 10 10 10 0 0 1 10 -10z"/>
                </svg>
                <span class="link-text" *ngIf="!isCollapsed">Giroscopio</span>
            </a>
            <a (click)="navigateToSettings()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M12 2a10 10 0 1 1 -10 10 10 10 0 0 1 10 -10z"/>
                </svg>
                <span class="link-text" *ngIf="!isCollapsed">Configuración</span>
            </a>
        </nav>
    </div>

    <div class="content">
        <div class="dashboard">
            <div class="card light-card">
                <div class="card-content">
                    <div class="card-text">
                        <div class="light">{{ luzAmbiental ? luzAmbiental + ' lx' : 'Sin datos' }}</div>
                        <div class="description">Luz Ambiental</div>
                        <div class="status" *ngIf="luzAmbiental !== null" [ngClass]="{'high': luzAmbiental > 500, 'low': luzAmbiental < 100, 'normal': luzAmbiental >= 100 && luzAmbiental <= 500}">
                            {{ luzAmbiental > 500 ? 'Alta luminosidad' : (luzAmbiental < 100 ? 'Baja luminosidad' : 'Luminosidad normal') }}
                        </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 2a10 10 0 1 1 -10 10 10 10 0 0 1 10 -10z"/>
                    </svg>
                </div>
            </div>
            <div class="card heart-rate-card">
                <div class="card-content">
                    <div class="card-text">
                        <div class="heart-rate">{{ ritmoCardiaco !== null ? ritmoCardiaco + ' BPM' : 'Sin datos' }}</div>
                        <div class="description">Ritmo Cardíaco</div>
                        <div class="status" *ngIf="ritmoCardiaco !== null" [ngClass]="{'high': ritmoCardiaco > 100, 'low': ritmoCardiaco < 60, 'normal': ritmoCardiaco >= 60 && ritmoCardiaco <= 100}">
                            {{ ritmoCardiaco > 100 ? 'Ritmo elevado' : (ritmoCardiaco < 60 ? 'Ritmo bajo' : 'Ritmo normal') }}
                        </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 2a10 10 0 1 1 -10 10 10 10 0 0 1 10 -10z"/>
                    </svg>
                </div>
            </div>
            <div class="card temperature-card">
                <div class="card-content">
                    <div class="card-text">
                        <div class="temperature">{{ temperaturaCorporal ? temperaturaCorporal + ' °C' : 'Sin datos' }}</div>
                        <div class="description">Temperatura Corporal</div>
                        <div class="status" *ngIf="temperaturaCorporal !== null" [ngClass]="{'high': temperaturaCorporal > 37.5, 'low': temperaturaCorporal < 36.5, 'normal': temperaturaCorporal >= 36.5 && temperaturaCorporal <= 37.5}">
                            {{ temperaturaCorporal > 37.5 ? 'Temperatura elevada' : (temperaturaCorporal < 36.5 ? 'Temperatura baja' : 'Temperatura normal') }}
                        </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 2a10 10 0 1 1 -10 10 10 10 0 0 1 10 -10z"/>
                    </svg>
                </div>
            </div>
            <div class="card gyroscope-card">
                <div class="card-content">
                    <div class="card-text">
                        <div class="gyroscope">{{ inclinacion ? inclinacion + ' °' : 'Sin datos' }}</div>
                        <div class="description">Giroscopio</div>
                        <div class="status" *ngIf="inclinacion !== null" [ngClass]="{'high': inclinacion > 30, 'low': inclinacion < -30, 'normal': inclinacion >= -30 && inclinacion <= 30}">
                            {{ inclinacion > 30 ? 'Inclinación significativa' : (inclinacion < -30 ? 'Inclinación negativa significativa' : 'Inclinación normal') }}
                        </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 2a10 10 0 1 1 -10 10 10 10 0 0 1 10 -10z"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
