<div class="dashboard-container">
    <div class="sidebar" [ngClass]="{'sidebar-collapsed': isCollapsed}">
        <button class="toggle-button" (click)="toggleSidebar()"> 
            <ion-icon name="menu-outline"></ion-icon>
        </button>
        <nav>
            <a (click)="navigateToHome()">
                <ion-icon name="home-outline"></ion-icon>
                <span class="link-text" *ngIf="!isCollapsed">Home</span>
            </a>
            <a (click)="navigateToAmbient()">
                <ion-icon name="sunny-outline"></ion-icon>
                <span class="link-text" *ngIf="!isCollapsed">Luz Ambiental</span>
            </a>
            <a (click)="navigateToHeartRate()">
                <ion-icon name="heart-outline"></ion-icon>
                <span class="link-text" *ngIf="!isCollapsed">Ritmo Cardíaco</span>
            </a>
            <a (click)="navigateToTemperature()">
                <ion-icon name="thermometer-outline"></ion-icon>
                <span class="link-text" *ngIf="!isCollapsed">Temperatura Corporal</span>
            </a>
            <a (click)="navigateToGyroscope()">
                <ion-icon name="compass-outline"></ion-icon>
                <span class="link-text" *ngIf="!isCollapsed">Giroscopio</span>
            </a>
            <a (click)="navigateToSettings()">
                <ion-icon name="settings-outline"></ion-icon>
                <span class="link-text" *ngIf="!isCollapsed">Configuración</span>
            </a>
        </nav>
    </div>

    <div class="content">
        <div class="dashboard">
            <div class="card light-card">
                <div class="card-content">
                    <div class="card-text">
                        <div class="light">{{ luzAmbiental }} <span class="unit">lx</span></div>
                        <div class="description">Luz Ambiental</div>
                        <div class="status" [ngClass]="{'high': luzAmbiental > 500, 'low': luzAmbiental < 100, 'normal': luzAmbiental >= 100 && luzAmbiental <= 500}">
                            {{ luzAmbiental > 500 ? 'Alta luminosidad' : (luzAmbiental < 100 ? 'Baja luminosidad' : 'Luminosidad normal') }}
                        </div>
                    </div>
                    <ion-icon name="sunny-outline"></ion-icon>
                </div>
            </div>
            <div class="card heart-rate-card">
                <div class="card-content">
                    <div class="card-text">
                        <div class="heart-rate">{{ ritmoCardiaco }} <span class="unit">BPM</span></div>
                        <div class="description">Ritmo Cardíaco</div>
                        <div class="status" [ngClass]="{'high': ritmoCardiaco > 100, 'low': ritmoCardiaco < 60, 'normal': ritmoCardiaco >= 60 && ritmoCardiaco <= 100}">
                            {{ ritmoCardiaco > 100 ? 'Ritmo elevado' : (ritmoCardiaco < 60 ? 'Ritmo bajo' : 'Ritmo normal') }}
                        </div>
                    </div>
                    <ion-icon name="heart-outline"></ion-icon>
                </div>
            </div>
            <div class="card temperature-card">
                <div class="card-content">
                    <div class="card-text">
                        <div class="temperature">{{ temperaturaCorporal }} <span class="unit">°C</span></div>
                        <div class="description">Temperatura Corporal</div>
                        <div class="status" [ngClass]="{'high': temperaturaCorporal > 37.5, 'low': temperaturaCorporal < 36.5, 'normal': temperaturaCorporal >= 36.5 && temperaturaCorporal <= 37.5}">
                            {{ temperaturaCorporal > 37.5 ? 'Temperatura elevada' : (temperaturaCorporal < 36.5 ? 'Temperatura baja' : 'Temperatura normal') }}
                        </div>
                    </div>
                    <ion-icon name="thermometer-outline"></ion-icon>
                </div>
            </div>
            <div class="card gyroscope-card">
                <div class="card-content">
                    <div class="card-text">
                        <div class="gyroscope">{{ inclinacion }} <span class="unit">°</span></div>
                        <div class="description">Giroscopio</div>
                        <div class="status" [ngClass]="{'high': inclinacion > 30, 'low': inclinacion < -30, 'normal': inclinacion >= -30 && inclinacion <= 30}">
                            {{ inclinacion > 30 ? 'Inclinación significativa' : (inclinacion < -30 ? 'Inclinación negativa significativa' : 'Inclinación normal') }}
                        </div>
                    </div>
                    <ion-icon name="compass-outline"></ion-icon>
                </div>
            </div>
        </div>
    </div>
</div>
