<div class="dashboard-container">
    <div class="sidebar">
        <button class="toggle-button" (click)="toggleSidebar()"> 
            <ion-icon name="menu-outline"></ion-icon>
        </button>
        <nav> 
            <a (click)="navigateTo('/home')">
                <ion-icon name="home-outline"></ion-icon>
                <span class="link-text">Home</span>
            </a>
            <a (click)="navigateTo('/ambient')">
                <ion-icon name="sunny-outline"></ion-icon>
                <span class="link-text">Luz Ambiental</span>
            </a>
            <a (click)="navigateTo('/heart-rate')">
                <ion-icon name="heart-outline"></ion-icon>
                <span class="link-text">Ritmo Cardíaco</span>
            </a>
            <a (click)="navigateTo('/temperature')">
                <ion-icon name="thermometer-outline"></ion-icon>
                <span class="link-text">Temperatura Corporal</span>
            </a>
            <a (click)="navigateTo('/gyroscope')">
                <ion-icon name="compass-outline"></ion-icon>
                <span class="link-text">Giroscopio</span>
            </a>
            <a (click)="navigateTo('/settings')">
                <ion-icon name="settings-outline"></ion-icon>
                <span class="link-text">Configuración</span>
            </a>
        </nav>
    </div>

    <div class="content">
        <div class="dashboard">
            <div class="card gyroscope-card">
                <div class="card-content">
                    <div class="card-text">
                        <div class="inclination-value">
                            {{ inclination }}° 
                        </div>
                        <div class="description">Inclinación Corporal</div>
                    </div>
                    <ion-icon name="compass-outline"></ion-icon>
                </div>
            </div>
        </div>

        <div class="table-container">
            <h3>Últimos 10 valores de inclinación</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Grados</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let value of inclinationHistory; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ value }}°</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
