<div class="dashboard-container">
    <div class="sidebar" [ngClass]="{'sidebar-collapsed': isCollapsed}">
        <button class="toggle-button" (click)="toggleSidebar()"> 
            <i class="fas fa-bars"></i>
        </button>
        <nav> 
            <a (click)="navigateTo('/home')">
                <i class="fas fa-home"></i>
                <span *ngIf="!isCollapsed" class="link-text">Home</span>
            </a>
            <a (click)="navigateTo('/ambient')">
                <i class="fas fa-sun"></i>
                <span *ngIf="!isCollapsed" class="link-text">Luz Ambiental</span>
            </a>
            <a (click)="navigateTo('/heart-rate')">
                <i class="fas fa-heart"></i>
                <span *ngIf="!isCollapsed" class="link-text">Ritmo Cardíaco</span>
            </a>
            <a id="thermometer-icon" (click)="navigateTo('/temperature')">
                <i class="fas fa-thermometer-half"></i>
                <span *ngIf="!isCollapsed" class="link-text">Temperatura Corporal</span>
            </a>
            <a (click)="navigateTo('/gyroscope')">
                <i class="fas fa-compass"></i>
                <span *ngIf="!isCollapsed" class="link-text">Giroscopio</span>
            </a>
            <a (click)="navigateTo('/settings')">
                <i class="fas fa-cog"></i>
                <span *ngIf="!isCollapsed" class="link-text">Configuración</span>
            </a>
        </nav>
    </div>

    <div class="content">
        <div class="dashboard">
            <div class="card gyroscope-card">
                <div class="card-content">

                  <div class="card-text">
                    <div class="inclination-value">
                      {{ inclination ? inclination + '°' : 'Sin datos' }}
                    </div>
                    <div class="description">Inclinación Corporal</div>
                  </div>
                  <i class="fas fa-compass"></i>
                </div>
              </div>
        </div>

        <div class="table-container">
            <h3>Últimos 10 registros del giroscopio</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Giro X</th>
                        <th>Giro Y</th>
                        <th>Giro Z</th>
                        <th>Inclinación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of sensorDataHistory; trackBy: trackBySensorData">
                        <td>{{ data.id }}</td>
                        <td>{{ data.giroX }}°</td>
                        <td>{{ data.giroY }}°</td>
                        <td>{{ data.giroZ }}°</td>
                        <td>{{ calculateInclination(data) }}°</td>
                    </tr>
                    <tr *ngIf="!sensorDataHistory || sensorDataHistory.length === 0">
                        <td colspan="5" class="no-data">No hay datos disponibles</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
